**jukit**
*.mp4
*.csv
*.db3
metadata.yaml
**build**
ORBvoc.txt
bags/
videos/
**ORBvoc.txt**
.cache
*.pcd
occupancy_grids/
images/
datasets/
build/
install/
log/
bin/
lib/
cmake-build-debug/
.vscode/
.DS_Store
.idea/
__pycache__/

*~
#*
*.o
*.a
*.so
*.pyc
*.dll

Thirdparty/DBoW2/build/
Thirdparty/DBoW2/lib/
Thirdparty/g2o/build/
Thirdparty/g2o/lib/
Thirdparty/Sophus/build/
